.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 90vw;
  padding: 10px;
  border-radius: 5px;
}

// How to apply colors
