.modalWrapper {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;

  .modalContainer {
    padding: 5em 1em 3em;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;

    .closeButton {
      width: 100%;
      position: absolute;
      top: 1em;
      left: 1em;
    }

    .modalCommitText {
      text-align: center;
    }

    .modalPolicyLink {
      text-decoration: underline;
      text-align: center;
    }
  }
}
.ratingBallsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
