.primary {
  min-width: 130px;
<<<<<<< HEAD
  min-height: 50px;
=======
  min-height: 3em;
>>>>>>> e5531494085f759558be81326920ac7deb4c1b87
  border: none;
  padding: 0.1em 2em;
  border-radius: 5px;
  color: white;
}
.secondary {
  min-width: 130px;
<<<<<<< HEAD
  min-height: 50px;
=======
  min-height: 3em;
>>>>>>> e5531494085f759558be81326920ac7deb4c1b87
  border: none;
  padding: 0.1em 2em;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
  border-radius: 5px;
  background-color: transparent !important;
}
