.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
<<<<<<< HEAD
  height: 90px;
  background-color: white;
}

.leftSide {
  margin-left: 0.8em;
  font-weight: bold;
}
.rightSide {
  margin-right: 0.8em;
=======
  border-top-style: solid;
  border-top-width: 1px;
  padding: 1em;
>>>>>>> e5531494085f759558be81326920ac7deb4c1b87
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  padding: 1em;
=======
>>>>>>> e5531494085f759558be81326920ac7deb4c1b87
}

.progressBar {
  height: 3px;
}
