.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 90px;
  background-color: white;
}

.leftSide {
  margin-left: 0.8em;
  font-weight: bold;
}
.rightSide {
  margin-right: 0.8em;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.progressBar {
  height: 3px;
}
