.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 1em;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  height: 3px;
}
