.btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 100%;
  transition: 0.3s;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .icon {
    width: 13px;
    height: 13px;
  }
}
