.wrapper {
  width: 100%;
  height: calc(75px + 50px + 1em);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mapButton {
  padding: 0.8em 1.3em;
  border-radius: 50px;

  border: none;
  color: white;

  p { 
    font-weight: 500;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}