.container {
  width: calc(100% + 1em + 1em);
  margin-left: -1em;
  margin-right: -1em;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em 0;
    gap: 0.5em;
    width: 100%;
    overflow-x: scroll;

    div:first-of-type {
      margin-left: 1em;
    }
    
    div:last-of-type {
      margin-right: 1em;
    }
  }
}
