.container {
  width: calc(100% + 1em + 1em);
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 1em;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em 0;
    gap: 0.5em;
    width: 100%;

    /* Handling scrolling */
    overflow-x: scroll;
    padding-bottom: 10px;
    clip-path: inset(0 0 3px 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    div:first-of-type {
      margin-left: 1em;
    }

    :last-child {
      margin-right: 1em;
    }
  }
}
