.themeButton {
  position: fixed;
  right: 1em;
  height: 3em;
  width: 3em;

  bottom: 6em;
  z-index: 10;
  border-radius: 50%;

  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
