.themeButton {
  position: fixed;
  right: 1em;
  bottom: calc(75px + 1em);
  height: 3.5em;
  width: 3.5em;
  z-index: 10;
  border-radius: 50%;

  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
