
.page {
  min-height: 100vh;
  padding: 1em;

  .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4px;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      padding: 1em;
      border-radius: 100%;
    }
  }

  .cardsWrapper {
    margin-top: 1em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    padding-bottom: 1em;

    /* Shadows not being cut off */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .mapButton {
    padding: 1em 2em;
    border-radius: 25px;
  }
}
