.wrapper {
  min-height: 100vh;
}

.sportCategoriesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 15px;
  flex-wrap: wrap;

  .bottomMargin {
    height: 6em;
  }
}

.generalInfoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 1em;

  .inputGroup {
    width: 100%;
    .label {
      margin-left: 1em;
      font-weight: bold;
    }

    .input {
      height: 50px;
      border-radius: 25px;
      width: 100%;
      border-style: solid;
      border-width: 1px;
      padding: 0 1em;
      background-color: transparent;
    }
  }
}

.indoors {
  padding: 0 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.incrementFormSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.incrementButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
