.page {
  width: 100vw;
  height: 100vh;
  padding: 3em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  background-color: white;

  .backButton {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  .logoWrapper {
    margin-bottom: 2em;
  }

  h1 {
    margin-bottom: 1em;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

}

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  .bgBubbleOne {
    position: absolute;
    bottom: -220px;
    left: -150px;
    transform: rotate(-90deg);
  }

  .bgBubbleTwo {
    position: absolute;
    left: 30px;
    bottom: -200px;
    transform: rotate(-30deg);
  }

  .bgBubbleThree {
    position: absolute;
    left: 100px;
    top: -250px;
    transform: rotate(-90deg);
  }
}
