.contentWrapper {
  padding: 1em;
  margin-bottom: 4.7em;
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em;
}

.singleStat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.7em;

  svg {
    margin-right: 0.4em;
  }
}

.organizedEventsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  gap: 0.8em;
}

.showMoreBtn {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

.spinner {
  margin-top: 0.5em;
}
