.page {
  min-width: 100vw;
  min-height: 100vh;
  padding: 3em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;

  form {
    width: 100%;
  }

  .input {
    height: 50px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 0 1em;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 50px;
    color: white;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.5; /* Firefox */
    }
  }
}
