// LARGE

.cardWrapperLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 330px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}
.imageWrapperLarge {
  height: 330px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: 2;
}

.infoWrapperLarge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.textWrapperLarge {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.pillsWrapperLarge {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 45%;
  margin-right: 1em;
}

//MEDIUM AND SMALL

.cardWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

//BOTH CATEGORIES

.ghostTitle {
  background-color: #fcdbdf;
  height: 1.7em;
  margin: 0.5em 1em;
  border-radius: 10px;
}

.imageWrapper,
.imageWrapperLarge,
.ghostText,
.ghostPill {
  background-color: #fcdbdf;
}

.pillsWrapper {
  display: flex;
  flex-direction: row;
}

.ghostText {
  // width: 12em;
  height: 1.1em;
  margin: 0.2em;
  border-radius: 10px;
}

.textOne {
  width: 12em;
}
.textTwo {
  width: 8em;
}
.textThree {
  width: 3em;
}

.ghostPill {
  height: 1.3em;
  width: 4em;
  border-radius: 25px;
  margin: 0.1em;
}
