// LARGE

.cardWrapperLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 330px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  border: 1px solid red;
}
.imageWrapperLarge {
  height: 330px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: 2;
  border: 1px solid red;
}

.infoWrapperLarge {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.textWrapperLarge {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

//MEDIUM AND SMALL

.cardWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 1px solid red;
}

//BOTH CATEGORIES

.imageWrapper,
.imageWrapperLarge,
.ghostText,
.ghostPill {
  background-color: #fcdbdf;
  border: 1px solid red;
}

.pillsWrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
