.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;

  .title {
    text-transform: uppercase;
  }

  .pill {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 2em;
    color: white;
    border-radius: 50px;
  }
}
