.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;

  .title {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .pill {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 150px;
    padding: 1em 1.5em;
    color: white;
    border-radius: 50px;
    border-width: 4px;
    border-style: solid;

    p {
      font-size: 1.1em;
    }
  }
}
