.wrapper {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .imageWrapper {
    height: 80%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0.7em;
    gap: 5px;
    p {
      line-height: 1em;
    }
  }
}
