.page {
  min-height: 100vh;

  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    backdrop-filter: blur(2px);
    background-blend-mode: multiply;
    transition: 0.5s;
  }

  .contentWrapper {
    padding: 1em;
    padding-bottom: 6.5em;

    .divider {
      width: 100%;
      height: 1px;
      margin: 10px auto;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .bigPills {
      margin: 1em 0;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-direction: row;
    }

    .description {
      p {
        max-height: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .footerInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    svg {
      position: relative;
      bottom: -2px;
    }
  }
}

.errorWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.map {
  pointer-events: none;
  border-radius: 10px;
  height: 30vh;
  width: 100%;
  z-index: 0;
}

.nodisplaymap {
  display: none;
}
